<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h4>haha爬虫程序</h4>
    <div>
    	<a href="/spider/tsy">淘手游</a>
    	<a href="/spider/jym">交易猫</a>
    </div>
  </body>
</html>
