<!DOCTYPE html>
<html>
  <head>
    <%include common/base.ejs%>
  </head>
  <body>
  	<h4>haha爬虫程序</h4>
    <div>
    	<a href="/spider/tsy">淘手游</a>
    	<a href="/spider/jym">交易猫</a>
    </div>

    <%include common/script.ejs%>
  </body>
</html>
