<!DOCTYPE html>
<html>
  <head>
  	<%include common/base.ejs%>
  </head>
  <body>
  	<div class="btn btn-primary" id="js_btn">开始爬取<%= name %>页面数据</div>

	<%include common/script.ejs%>
	<script>
		$(function() {
			$('#js_btn').click(function() {
				$.ajax({
					url: '/spider/tsy/crawler',
					type: 'GET',
					success: function(data) {
						console.log(data)
					},
					error: function() {
						console.log('error')
					}
				})
			})
		})
	</script>
  </body>
</html>
